<h1>Fridge in <%= @fridge.location %> </h1>
<hr>
<h2>Fridge Details</h2>
<div>
Brand: <%= @fridge.brand %>
</div>

<div>
Size: <%= @fridge.size %> cubic ft
</div>

<div>
<%= link_to("Edit Details", "/fridges/#{@fridge.id}/edit") %>
</div>

<div>
<%= link_to("Delete Fridge", "/fridges/#{@fridge.id}", method: :delete) %>
</div>
<hr>

<h2>Food in Fridge</h2>
<div>
<%= link_to("Look in the Fridge", "/fridges/#{@fridge.id}/foods")%>
</div>

<% @foods.map do |food| %>
  <div><%= link_to("#{food.name}", fridge_food_path(food)) %></div>
<%end%>

<div>
<%= link_to("Add New Food Item", "/fridges/#{@fridge.id}/foods/new") %>
</div>
