<h1>Fridge in <%= @fridge.location %> </h1> <%= link_to("Delete Fridge", "/fridges/#{@fridge.id}", method: :delete) %>
<hr>
<h2>Fridge Details</h2>
<div>
Brand: <%= @fridge.brand %>
</div>

<div>
Size: <%= @fridge.size %> cubic ft
</div>

<div>
<%= link_to("Edit Details", "/fridges/#{@fridge.id}/edit") %>
</div>

<hr>

<h2>Food in Fridge <%= link_to("(+)", "/fridges/#{@fridge.id}/foods/new") %> </h2>
<%# <div>
<%= link_to("Look in the Fridge", "/fridges/#{@fridge.id}/foods")%>
<%# </div> %>

<% @foods.map do |food| %>
  <div><%= link_to("#{food.name}", "/fridges/#{@fridge.id}/foods/#{food.id}") %></div>
<%end%>

<hr>

<h2>Drinks in Fridge <%= link_to("(+)", "/fridges/#{@fridge.id}/drinks/new") %> </h2>
<% @drinks.map do |drink| %>
  <div> <%= link_to("#{drink.name}", "/fridges/#{@fridge.id}/drinks/#{drink.id}") %></div>
<% end%>

<hr>

<%=link_to "Back", "/fridges"%>