<h1><%=@food.name%></h1>
<hr>

<div>
Weight: <%= @food.weight%>
</div>
<div>
Vegan: <%= @food.vegan%>
</div>
<div>
Date Added: <%= @food.date_added%>
</div>

<div>
  <%= link_to("Delete food item", "/fridges/#{@fridge.id}/foods/#{@food.id}", method: :delete)%>
</div>